@keyframes fade-in {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
